@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --primary-color: #0085fa;
  --secondary-color: #ffffff;
  --text-color: #ffffff;
  --bg-color: rgb(25, 25, 25);
  --accent-color: rgba(97, 94, 94, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navis {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 15px;
  gap: 30px;
  margin: 0;
  flex-shrink: 0;
}

.nav {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease;
}

.nav:hover {
  color: var(--primary-color);
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("bilder/gyros.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 200px;
  color: white;
}

.title {
  font-family: "Lobster", cursive;
  font-weight: bold;
  font-size: 60px;
}

.opis {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.herobutton {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease;
  display: block;
  margin-right: 50px;
}

.herobutton {
  background: none;
  color: var(--primary-color);
}

.button {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease;
  display: block;
  margin-left: 50px;
}

.button:hover {
  background: none;
  color: var(--primary-color);
}

.glavnoto {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.glava {
  display: flex;
  align-items: start;
  justify-content: start;
}

.glava {
  font-size: 22px;
  font-weight: bold;
  margin-left: 50px;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.kontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.sliki {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.prvtext {
  font-size: 14px;
  margin-left: 50px;
  margin-right: 25px;
}

.glavnoto,
.herobutton {
  margin-left: 50px;
}

.prvaslika {
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.vtoraslika,
.tretaslika {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.casovivlez {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.rasporedot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.rasporedot {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("bilder/open.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: cover;
}

.naslov {
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}

.denovii,
.vremee {
  margin-bottom: 50px;
}

.posledno {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.jetzt {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease;
}

.jetzt:hover {
  background: none;
  color: var(--primary-color);
}

.skara {
  display: block;
  width: 400px;
  height: 250px;
}

.infos {
  margin-left: 50px;
}

.podnaslov {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #0085fa;
  margin-bottom: 30px;
  margin-top: 15px;
}

.infos p {
  margin-bottom: 10px;
}

.sino {
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.vtoroto {
  background: none;
  color: var(--primary-color);
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease;
}

.vtoroto:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

footer {
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  text-align: center;
  background-size: cover;
}

.linkovi {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.blagojce {
  font-size: 15px;
  color: var(--text-color);
  text-decoration: none;
  margin-top: 150px;
}

.linkovi a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .navis {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 50px;
  }

  .nav {
    font-size: 10px;
  }

  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
    height: auto;
    padding-right: 30px;
  }

  .title {
    font-size: 42px;
    line-height: 1.2;
  }

  .opis {
    font-size: 14px;
    margin: 10px 20px;
  }

  .herobutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  .glavnoto {
    grid-template-columns: 1fr;
    margin: 40px 10px;
    text-align: center;
    gap: 20px;
  }

  .glava {
    margin-left: 120px;
    margin-left: 0;
  }

  .prvtext {
    margin-left: 0;
    text-align: start;
    font-size: 12px;
    margin-right: 50px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .sliki {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-left: 25px;
    margin-right: 50px;
  }

  .prvaslika {
    width: 100%;
    height: 200px;
  }

  .vtoraslika,
  .tretaslika {
    width: 100%;
    height: auto;
    max-height: 130px;
  }

  .hero {
    padding-top: 150px;
    font-size: 14px;
  }

  .title {
    font-size: 40px;
  }

  .opis {
    font-size: 15px;
  }

  .herobutton {
    padding: 10px 20px;
    font-size: 14px;
  }

  .rasporedot {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-right: 20px;
  }

  .naslov,
  .podnaslov {
    font-size: 20px;
  }

  .posledno {
    flex-direction: column;
    gap: 20px;
  }

  .skara {
    width: 100%;
    height: auto;
  }

  .infos {
    margin-left: 0;
  }

  .vtoroto {
    display: block;
    margin-top: 40px;
  }

  .footer {
    margin-right: 25px;
  }

  .linkovi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
